<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h1><%= @website_inquiry.website.title %> Inquiry</h1>
<h3>
    There has been an inquiry.
</h3>
<span>First Name: </span><span><%= @website_inquiry.first_name %></span>
<br/>
<span>Last Name: </span><span><%= @website_inquiry.last_name %></span>
<br/>
<span>Email: </span><span><%= @website_inquiry.email %></span>
<% if @website_inquiry.created_by %>
    <br/>
    <span>Username: </span><span><%= @website_inquiry.created_by.username %></span>
<% end %>
<br/>
<br/>
<p><%= @website_inquiry.message %></p>
</body>
</html>
