<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
  <title>Compass AE Reset Password</title>

  <%= stylesheet_link_tag('erp_app/shared/compass-ext-all.css', 'erp_app/login/main.css') %>

  <%= include_extjs(:debug => (Rails.env == 'development' or Rails.env == 'shared_dev')) %>

  <%= javascript_include_tag("erp_app/utility.js", "erp_app/login/ResetPassword.js") %>

  <%= add_authenticity_token_to_extjs %>

</head>
<body style="background-color:#253241;">
<div style="text-align:center;width:100%; padding-top: 4%; margin-bottom: 100px;">
  <img alt="Compass Agile Enterprise" src="/assets/art/desktop-logo.png"/>
</div>
<script type="text/javascript">
  Ext.onReady(function () {
    Ext.create('Compass.ErpApp.Login.ResetPassword',
        {
          token: '<%= @token %>'
        }).show();
  });
</script>

</body>
</html>
