<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>CompassAE Mobile</title>
  <%= include_sencha_touch :debug => (Rails.env != 'production') %>
  <%= javascript_include_tag('erp_app/utility.js') %>

  <!--stylesheets-->
  <%= stylesheet_link_tag('erp_app/mobile/app.css') %>
  <!--end stylesheets-->

  <%= javascript_include_tag("erp_app/login/mobile.js") %>

  <script type="text/javascript">
    Compass.ErpApp.Mobile.AuthentictyToken = '<%=form_authenticity_token%>';
    Compass.ErpApp.Mobile.LoginTo = '/erp_app/mobile/'
  </script>
</head>
<body>
</body>
</html>
