<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>CompassAE Mobile</title>
  <%= include_sencha_touch :debug => (Rails.env != 'production') %>
  <%= javascript_include_tag('erp_app/utility.js') %>
  <%= create_authenticity_token_sencha_touch_field %>
  <%= add_authenticity_token_to_extjs %>

  <!--stylesheets-->
  <%= stylesheet_link_tag('erp_app/mobile/app.css') %>
  <!--end stylesheets-->

  <% @user.get_application_resource_paths('mobile').each do |path| %>
    <%= javascript_include_tag(path) %>
    <%= stylesheet_link_tag(path) %>
  <% end %>

  <script type="text/javascript">
      var mobileApplications = [], mobileApplicationsData = [];
      <%
      @mobile.applications.each do |application|
      %>

      mobileApplications.push({xtype: '<%=application.xtype%>', itemId: '<%=application.internal_identifier%>'});
      mobileApplicationsData.push({
          iconCls: '<%=application.icon%>',
          name: '<%=application.description%>',
          itemId: '#<%=application.internal_identifier%>'
      });

      <%
      end
      %>
  </script>

  <%= javascript_include_tag('erp_app/mobile/app.js') %>
</head>
<body>
<%= setSessionTimeout %>
</body>
</html>